.title {
    font-size: 3rem;
    text-align: center;
    color: #fff2a5;
    }

.section-container {
    gap: 4rem;
    height: 80%;
}

.section_pic-container {
    height: 400px;
    width: 400px;
    margin: auto 0;
}

p {
    color: white;
}
    
.icon {
    cursor: pointer;
    height: 5rem;
}


#about {
    position: relative;
  }
  
.about-containers {
gap: 2rem;
margin-bottom: 2rem;
margin-top: 2rem;
}

.about-details-container {
justify-content: center;
flex-direction: column;
}

.about-containers,
.about-details-container {
display: flex;
}

.about-pic {
border-radius: 2rem;
}

.arrow {
position: absolute;
right: -5rem;
bottom: 2.5rem;
}
/*
.details-container {
padding: 1.5rem;
flex: 1;
background: white;
border-radius: 2rem;
border: rgb(53, 53, 53) 0.1rem solid;
border-color: rgb(163, 163, 163);
text-align: center;
}*/
  
/*shiny border*/

html {
    height: 100%;
    background: #223;
    display: grid;
    place-items: center;
  }
  
  .details-container {
    padding: 1.5rem;
    flex: 1;
    width: 60vmin;
    /*height: 50vmin;*/
    text-align: center;
    display: grid;
    place-content: center;
    color: white;
    text-shadow: 0 1px 0 #000;
  
    --border-angle: 0turn; /* Define the custom property */
    --main-bg: conic-gradient(
        from var(--border-angle),
        #213,
        #112 5%,
        #112 60%,
        #213 95%
    );
    
    border: solid 5px transparent;
    border-radius: 2em;
    --gradient-border: conic-gradient(from var(--border-angle), transparent 25%, #fff2a5, #fe7088 99%, transparent);
  
    background: 
      var(--main-bg) padding-box,
      var(--gradient-border) border-box;
  
    animation: bg-spin 3s linear infinite;
  }
  
  /* Define the custom property for animation */
  @property --border-angle {
    syntax: "<angle>";
    inherits: false;
    initial-value: 0turn;
  }
  
  @keyframes bg-spin {
    to {
      --border-angle: 1turn;
    }
  }
  
  .box:hover {
    animation-play-state: paused;
  }