section {
    padding-top: 4vh;
    height: 96vh;
    margin: 0 10rem;
    box-sizing: border-box; /*defines how the width and height of an element are calculated, including its padding and border.*/
    min-height: fit-content;
}

.section-container {
    display: flex;
}

#profile {
    display: flex;
    justify-content: center;
    gap: 5rem;
    height: 80vh;
}

.section_pic-container {
    display: flex;
    height: 400px;
    width: 400px;
    margin: auto 0px;
}

.profilePicture {
    border-radius: 50%;
}

.section_text {
    align-self: center;
    text-align: center;
}

.section_text p {
    font-weight: 600; 
}

.section_text-p1 {
    text-align: center;
    color: white;
}

.section_text-p2 {
    font-size: 1.75rem;
    margin-bottom: 1rem;
    color: white;
}

.title-name {
    font-size: 3rem;
    text-align: center;
    color: #fe7088;
    cursor:pointer;
    transition:.6s;
    position: relative; /* Ensure relative positioning */
    display: inline-block; /* Use inline-block to maintain width of content */
}

/*
h1 {
    position: relative;
    font-size: 10em;
    letter-spacing:10px;
    font-family: sans-serif;
    display:table;
    margin:40px auto;
    cursor:pointer;
    transition:.6s;
  }*/
  .title-name:before,
  .title-name:after {
    content:attr(data-text);
    transition:.6s;
  }
  .title-name:before {
    left: 0;
    top: 0;
    position: absolute;
    z-index:-1;
    text-shadow:
     0px 0px,
     0px 0px,
     0px 0px,
     0px 0px,
     0px 0px,
     0px 0px,
     0px 0px,
     0px 0px,
     0px 0px,
     0px 0px;
    -webkit-mask:repeating-linear-gradient(45deg, transparent 0 3px, #fe7088 0 6px);
            mask:repeating-linear-gradient(45deg, transparent 0 3px, #fff2a5 0 6px);
  }
  .title-name:hover {
    transform:translate(-10px,-10px);
  }  
  .title-name:hover:before {
    text-shadow:
     1px 1px,
     2px 2px,
     3px 3px,
     4px 4px,
     5px 5px,
     6px 6px,
     7px 7px,
     8px 8px,
     9px 9px,
     10px 10px;
  }
  

.socials-container {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    gap: 1rem;
}

.icon {
    cursor: pointer;
    height: 5rem;
}

.btn-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.btn {
    font-weight: 600;
    transition: all 300ms ease;
    padding: 1rem;
    width: 8rem;
    border-radius: 2rem;
}

.btn-colour-1, .btn-colour-2 {
    border: #fff2a5 0.1rem solid;
}

.btn-colour-1:hover, .btn-colour-2:hover {
    cursor: pointer;
}

.btn-colour-1,
.btn-colour-2:hover {
    background: #fff2a5;
    color: #326dac;
}

.btn-colour-1:hover {
    background: #fff2a5;
}

.btn-colour-2{
    background: none;
    color: #fff2a5;
}

.btn-colour-2:hover {
    border: rgb(255, 255, 255) 0.1rem solid;
}

.btn-container {
    gap: 1rem;
}
